<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>soccer_field_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>controller.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUser</display-name>
    <servlet-name>ProfileUser</servlet-name>
    <servlet-class>controller.ProfileUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUser</servlet-name>
    <url-pattern>/ProfileUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Store</display-name>
    <servlet-name>Store</servlet-name>
    <servlet-class>controller.Store</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Store</servlet-name>
    <url-pattern>/Store</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPitch</display-name>
    <servlet-name>ListPitch</servlet-name>
    <servlet-class>controller.ListPitch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPitch</servlet-name>
    <url-pattern>/ListPitch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPitch</display-name>
    <servlet-name>ViewPitch</servlet-name>
    <servlet-class>controller.ViewPitch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPitch</servlet-name>
    <url-pattern>/ViewPitch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>controller.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>controller.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
</web-app>